#banner,.active,#regi{
	text-align:center;
	color:white;
	text-shadow: 3px 3px 10px black;
	background-image:url('img/banner.jpg');
   	background-attachment: fixed;
}
.active{
	text-align:left;
	font-size:2em;
}
#regi{
	font-size:1em;
	text-align:left;
}
#regi .alert-danger{
	text-shadow:none;
}
.logo{
	width:auto;
	height:auto;
	max-height:200px;
	max-width:200px;
}
#list{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:0;
}
#forms{
	display:none;
}
#nav{
	padding:20px;
}
#pre{
	background:black;
}
#departtoggle{
	text-align:center;
}
#message1{
	display:none;
}